# Ignorer le dossier __pycache__
__pycache__/

# Ignorer le dossier venv-poleemploi
venv-poleemploi/

# Ignorer le fichier .gcloudignore
.gcloudignore

# Ignorer le fichier app.yaml
app.yaml

# Ignorer le fichier test.ipynb
test.ipynb